.graph-view

  transition: all .15s ease-in-out
  z-index: 100
  opacity: 1

  &.zoomed
    transform-origin: 100% 50%
    transform(translate(-370px, 0px) scale(3.0) )
    // opacity: 0
    position: relative
    z-index: 1000

.graph-view
  width: 100%
  height: 65px;
  // background-color: #eeeeee
  margin-top: 6px;
