body {
  font-family: Helvetica Neue;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #a22d5e;
  border-color: #a22d5e;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: #a22d5e;
}
