body {
  font-family: Helvetica Neue;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: primary;
  border-color: primary;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  color: primary;
}
