.navbar-inverse
{
  // background-color: #a22d5e;
  background-color: #333;
  border-color: transparent;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
  .navbar-inverse .navbar-brand
  {
    color: white;
    cursor: default;
  }

/* set semi-transparent button when not hovered */
.navbar-inverse .navbar-nav>li>a {
  color: rgba(255,255,255,0.9);
}

/* disable collapsing */
  .navbar-collapse.collapse {
  display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
  float: left !important;
  }

  .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
  }

  .navbar-right {
  float: right!important;
  }
